/* variables */
@import "var-map";
@mixin hover {
    
    background-color: rgb(182, 180, 180);
    color: $green;
    border-radius: 15px;
      
}

/* main */

main {
    background-color: $gray;
    width: 100%;
    display: flex;
    flex-direction: column;
}
 

/* imagen index */


.img {
    grid-area: img;
    width:auto ;
    height: 40em ;
    transition: all .5s ease-in-out;
} 
.img-home {
    
    width: 100%;
    height: 100%;  
}


 /* titulos-index */


.titulo-internet, .titulo-voz-ip, .titulo-datos, .titulo-datacenter {
    width: 75%;
    border-bottom: 1px solid gray;
    text-align: center;
}

/* info */

.informacion { 
    display: flex;
    flex-direction: row;
    grid-area: info;  
}


 /* cards-index */


.card-index {
    padding: 4em;
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between ;
    align-items: center;
    

    &:hover{
        @include hover;
    }
} 


/* boton contactanos */


.boton-contacto {
    padding: 10px;
    font-size: 1.3em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    top: 50px;
    margin-bottom: 60px;
    background-color: $green;

    &:hover {
        background-color:#0997907e ;
        color: white;
        border-radius: 10px; 
    }
}

/* lista index */
 

.lista-index {
    list-style: none;
    line-height: 2em;
}




/* boton ver mas */


.ver-mas {
    width: 120px;
    padding: 25px;
    height: 10px;
    font-size: 1.2em;
    text-align: center ;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    display: flex;
    align-content: center;
    align-items: center;
    background-color: $green;
    margin: 20px;
}


/* pag-servicios */


.internet {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lista-servicios {
    margin: 10px;
    text-align: center;
    line-height: 2em;
    font-size: 20px;
    list-style: none;
}
.lista-voz-ip {
    margin: 10px;
    text-align: center;
    line-height: 2em;
    font-size: 20px
}


 /* CARDS-SERVICIOS */


.servicios-residenciales {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card-servicio {
    display: grid;
    width: 33.33%;
    align-content: space-between;
    justify-items: center;
    justify-content: space-evenly;
    p {
        font-size: 2em;
        
    }
    &:hover {
        @include hover;
    }
}


/* Cards-empresas */


.servicios-empresas {
    @extend .servicios-residenciales
}
.card-servicio-empresas {
    @extend .card-servicio;
    p {
        margin-top: 5%;
        margin-bottom: 1rem;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 1.3em;
        text-align: center;
    }
    .titulo-card {
        font-size: 2em;
        border-top: solid $green;
    }
    
    
}


/* pag quienes somos */


.mapa {
    margin-top: 10em;
    margin-right: 2em;
    grid-area: mapa;
}
.titulo-quienes-somos {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border-bottom: 3px solid $green;
  }

.parrafo-quienes-somos {
    text-align: center;
    margin-bottom: 3em;
    margin-left: 5em;
    margin-right: 5em;
    font-size: 1.2em;
}
.quienes-somos {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "texto mapa"
                         "texto card-quienes-somos"
                         "texto card-quienes-somos";
}

.texto {
    grid-area: texto;
}
.card-quienes-somos {
    grid-area: card-quienes-somos;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}


/* pag contactos */


.main-contacto  {
    h1{
    font-size: 4em;
    text-align: center;
    }
    h3 {
        font-size: 2em;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }
} 


/* formulario */


.titulo-contacto{
    text-align: center;
    padding: 20px;
}
.header {
    color: $green;
    font-size: 2em;
    padding: 10px;
}
.btn {
    color: white;
    background-color: $green;
    border: none;
    margin-right:33%;
    margin-bottom: 10rem;
    margin-top: 2rem;

    &:hover {
        color: white;
        background-color: #0997908c;
    }
}
.form-group{
    margin-left:25%;
}


/* pag-empresas */


.titulo-empresas{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 2.5em;
    width: 50%;
    height: 50px;
    background-color: $green;
    color: rgb(207, 207, 207);
    margin-left: 25%;    
    text-transform: uppercase;
}
.titulo-card-empresas {
    font-size: 2em;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 75%;
    border-top: solid $green ;
    text-align: center;
}

